#app {
  /* background: linear-gradient(#000000f1, #000000f1), 
                    url('/public/bg-frenet.png');
  background-repeat: repeat;
  background-size: 120px; */
  min-height: 100vh;
  background-color: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-text));
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: rgb(var(--v-theme-primary));
  color: white;
}