#app {
  /* background: linear-gradient(#000000f1, #000000f1), 
                    url('/public/bg-frenet.png');
  background-repeat: repeat;
  background-size: 120px; */
  min-height: 100vh;
  background-color: rgb(var(--v-theme-background));
  color: rgb(var(--v-theme-text));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

::selection {
  background-color: rgb(var(--v-theme-primary));
  color: white;
}